@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html lang="zxx">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141691149-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-141691149-1');
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>About-RN Automotive</title>
<style>
    p{
        font-size:18px;
    }
   
    h1,h2{
        text-align:center;
        font-size:30px;
        font-weight:500;
    }
    img {
        float: right;
        margin-left:10px;
        
    }
   
    
</style>



</head>
<body>
    <h1>RN Automotive & Refrigeration</h1>
    <br />
    <br />
    <p>

        <img src="~/images/rn-services-header2.jpg" style="width:400px" ; alt="Card Back">



        In short, a place for all your vehicle related requirements
        from transport vehicle modification, refrigeration to extensive repairing to quick
        check-up before a long journey to car detailing or proper car wash.
    </p>

    <p>

        We are a multi–brand car service center with the facility
        of modern tools and equipment’s used to diagnoses fault, then
        our technical expertise who, undergone advanced trainings will
        repair and fix the trouble on your cars. Our unique abilities we can
        look after all makes of the vehicles. If you are looking for world-class service for your car,
        please head to our service center in Akshaynagar- Bangalore.
    </p>
    <br /><br /><br /><br /><br /><br />
                                  <div class="row">
                                      <div class="col-md-6 col-lg-5 col-xl-4">

                                          <div class="card" style="width:390px; margin-left:3px;">
                                              <h2><b>Why Us?</b></h2>
                                              <img src="~/Images/rn-automotive-why-us.jpg" width="300" style="margin-left:10px;" />

                                              <div class="card-body">
                                                  <p>
                                                      At RN AUTOMOTIVE, we are committed and working hard to build a reputation for offering a trusted and value for money service to all our customers in Bangalore. We understand the importance of good customer service,
                                                      with the majority of our work gained through positive word of mouth and repeat customers.
                                                  </p>


                                              </div>

                                          </div>
                                      </div>
                                      <div class="col-md-6 col-lg-5 col-xl-4">

                                          <div class="card" style="width:390px; margin-left:3px;">
                                              <h2><b>Qualified Staff</b></h2>
                                              <img src="~/Images/rn-automotive-qualified-staff.jpg" width="300" style="margin-left:10px;" />

                                              <div class="card-body">
                                                  <p>
                                                      Our car mechanics are fully qualified and experienced in working
                                                      with all types of vehicles, completing all work to the highest of standards.
                                                      Our technical staff is always there to offer free, valuable advice on engine diagnostics, car servicing,
                                                      repairs, and are happy to answer any questions you may have regarding your vehicle.
                                                  </p>


                                              </div>

                                          </div>
                                      </div>
                                      <div class="col-md-6 col-lg-5 col-xl-4">

                                          <div class="card" style="width:390px; margin-left:3px;">
                                              <h2><b>Amazing Solutions</b></h2>
                                              <img src="~/Images/rn-automotive-amazing-solutions.jpg" width="300" style="margin-left:10px;" />

                                              <div class="card-body">
                                                  <p>
                                                      We are more than happy to provide you customised 
                                                      solutions to all your vehicle requirements.
                                                      </p><p>We are the pioneers in
                                                      the field of body modification, fabrication and refrigeration, thus 
                                                      providing you cutting edge designs,
                                                      long lasting fittings and best in class refrigeration. We build world class vehicles.
                                                  </p>


                                              </div>

                                          </div>
                                      </div>




                                  </div>

</body>
</html>