@model AutomobileServiceStation.Models.ServiceSubType


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: Arial;
            font-size: 17px;
            padding: 8px;
        }

        * {
            box-sizing: border-box;
        }

        .row {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
            margin: 0 -16px;
        }

        .col-25 {
            -ms-flex: 25%; /* IE10 */
            flex: 25%;
        }

        .col-50 {
            -ms-flex: 50%; /* IE10 */
            flex: 50%;
        }

        .col-75 {
            -ms-flex: 75%; /* IE10 */
            flex: 75%;
        }

        .col-25,
        .col-50,
        .col-75 {
            padding: 0 16px;
        }

        .container {
            background-color: #f2f2f2;
            padding: 5px 20px 15px 20px;
            border: 1px solid lightgrey;
            border-radius: 3px;
        }

        input[type=text] {
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        label {
            margin-bottom: 10px;
            display: block;
        }

        .icon-container {
            margin-bottom: 20px;
            padding: 7px 0;
            font-size: 24px;
        }

        .btn {
            background-color: #04AA6D;
            color: white;
            padding: 12px;
            margin: 10px 0;
            border: none;
            width: 100%;
            border-radius: 3px;
            cursor: pointer;
            font-size: 17px;
        }

            .btn:hover {
                background-color: #45a049;
            }

        a {
            color: #2196F3;
        }

        hr {
            border: 1px solid lightgrey;
        }

        span.price {
            float: right;
            color: grey;
        }



        .col-25 {
            margin-bottom: 20px;
        }

        body {
            background-image: url("travel2.jpg");
            background-repeat: no-repeat;
            background-size: 1500px 1000px;
        }

        .btn2 {
            background-color: black; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            margin: 0;
            position: absolute;
            top: 130%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <!--  <?php
    $conn = new mysqli("localhost", "root", "", "gs");

    // Check connection
    if ($conn->connect_errno) {
        echo "Failed to connect to MySQL: " . $conn->connect_error;
        exit();
    }
    $requestType = $_SERVER['REQUEST_METHOD'];
    if ($requestType == 'POST') {

        $userName = $_POST['userName'];
        $travelMode = $_POST['travelMode'];
        $travelStartPoint = $_POST['travelStartPoint'];
        $travelEndPoint = $_POST['travelEndPoint'];
        $travelFare = $_POST['travelFare'];
        $availableSpace = $_POST['availableSpace'];
        $storeName = $_POST['storeName'];

        $query =  "INSERT INTO travelinfo VALUES (NULL,'" . $userName . "','" . $travelMode . "','" . $travelStartPoint . "','" . $travelEndPoint . "','" . $travelFare . "','" . $availableSpace. "','" . $storeName. "')";
        $res = $conn->query($query);
        if ($res) {
    ?>
            <script>
                alert("Successfully inserted Travel Information details,Click on next button");
            </script>
        <?php
        } else {
        ?>
            <script>
                alert("error occured while inserting");
            </script>
    <?php
        }
    }
    ?>-->




    <h1>SELECT THE SERVICES YOU LIKE.</h1>
    <div class="container">
        <form method="POST" action="">

            <div class="form-group">
                <b>BODY & PAINTS</b><br />
                <input type="checkbox" id="CarDent" name="CarDent"> To repair car dents, dings and accidental damages to get back original shape of show-room condition<br />

                <input type="checkbox" id="VehiclePainting"> Vehicle Painting<br />
            </div>
            <div class="form-group">
                <b>REFRIGERATED TRANSPORT VEHICLES</b><br />
                <input type="checkbox" id="MobileStorage" name="MobileStorage"> Complete mobile cold storage solution<br />

                <input type="checkbox" id="InsulatedCabins" name="InsulatedCabins"> Insulated cabins<br />


            </div>
            <div class="form-group">
                <input type="checkbox" id="FabricationCoversion" name="FabricationConversion">

                <b>FABRICATION & BODY CONVERSION</b><br />
            </div>
            <div class="form-group">
                <b>4 X 4 ACCESSORIES</b><br />
                <input type="checkbox" id="Springs" name="Springs"> Springs<br />
                <input type="checkbox" id="Shock absorber (Nitrogen & Foam)" name="Shock absorber (Nitrogen & Foam)">Shock absorber (Nitrogen & Foam)<br />
                <input type="checkbox" id="Bull bars" name="Bull bars">Bull bars<br />
                <input type="checkbox" id="Suspension Kits" name="Suspension Kits">Suspension Kits<br />
                <input type="checkbox" id="Snorkels" name="Snorkels">Snorkels<br />
                <input type="checkbox" id="Winches" name="Winches">Winches<br />
                <input type="checkbox" id=" Double Battery kit" name=" Double Battery kit"> Double Battery kit<br />
                <input type="checkbox" id="Canopies" name="Canopies">Canopies<br />

                <input type="checkbox" id="Insulated cab" name="Insulated cab"> Insulated cab<br />

            </div>
            <div class="form-group">
                <b>DETAILING</b><br />            <input type="checkbox" id="Springs" name="Springs">Ceramic Coating<br />
                <input type="checkbox" id="  Platinum Coating" name="  Platinum Coating">  Platinum Coating<br />
                <input type="checkbox" id=" Interior Cleaning & Protection" name=" Interior Cleaning & Protection"> Interior Cleaning & Protection<br />
                <input type="checkbox" id="  Engine Bay Protection" name="  Engine Bay Protection">  Engine Bay Protection<br />
                <input type="checkbox" id="Head Light Restoration" name="Head Light Restoration"> Head Light Restoration<br />
                <input type="checkbox" id=" Wind-Shield Protection" name=" Wind-Shield Protection"> Wind-Shield Protection<br />
                <input type="checkbox" id="Under Body Coating" name=" Under Body Coating"> Under Body Coating<br />

            </div>
            <div class="form-group">
                <input type="checkbox" id="vinylWrapping" name="vinylWrapping"><b>CAR AND BIKES CUSTOMIZED VINYL WRAPPING</b><br />
            </div>
            <div class="form-group">
                <b>Other Services</b><br />
                <input type="checkbox" id="Filter Replacement" name="Filter Replacement"> Engine Oil and Oil Filter Replacement<br />
                <input type="checkbox" id="  Transmission Oil Replacement" name="  Transmission Oil Replacement">  Transmission Oil Replacement<br />
                <input type="checkbox" id=" Differential Oil Replacement" name=" Differential Oil Replacement"> Differential Oil Replacement<br />
                <input type="checkbox" id="General check–up" name="General check–up">General check–up<br />
                <input type="checkbox" id="  Electrical repairs" name="  Electrical repairs">  Electrical repairs<br />
                <input type="checkbox" id="A/C repairs" name="A/C repairs">A/C repairs<br />
                <input type="checkbox" id=" Electronic components Diagnostic" name=" Electronic components Diagnostic"> Electronic components Diagnostic<br />
                <input type="checkbox" id="Running Repairs" name="Running Repairs">Running Repairs<br />
                <input type="checkbox" id="Preventive Maintenance" name="Preventive Maintenance"> Preventive Maintenance<br />
                <input type="checkbox" id="Major Overhaul of components" name="Major Overhaul of components">Major Overhaul of components<br />
                <input type="checkbox" id=" Wheel Alignment / Balancing" name="Wheel Alignment / Balancing">Wheel Alignment / Balancing<br />
                <input type="checkbox" id="Brake Drum Skimming" name="Brake Drum Skimming">Brake Drum Skimming<br />
                <input type="checkbox" id="Road test and assure Quality Passed" name="Road test and assure Quality Passed" />Road test and assure Quality Passed<br />
                <input type="checkbox" id="Water servicing" name="Water servicing" />Water servicing<br />

            </div>
            <div class="col-25">
                <div class="container">

                    <hr>
                    <p>Total: <span class="price" style="color:black"><b id="Total"></b></span></p>
                </div>
            </div>
        </form>
    </div>


    <h2 style="text-align:center; font-style:oblique;"><b>Payment Checkout Form</b></h2>

    <div class="row">
        <div class="col-75">
            <div class="container">
                <form action="~/Home/Index">

                    <div class="row">
                        <div class="col-50">
                            <h3>Billing Address</h3>
                            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                            <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
                            <label for="email"><i class="fa fa-envelope"></i> Email</label>
                            <input type="text" id="email" name="email" placeholder="john@example.com">
                            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
                            <label for="city"><i class="fa fa-institution"></i> City</label>
                            <input type="text" id="city" name="city" placeholder="New York">

                            <div class="row">
                                <div class="col-50">
                                    <label for="state">State</label>
                                    <input type="text" id="state" name="state" placeholder="NY">
                                </div>
                                <div class="col-50">
                                    <label for="zip">Zip</label>
                                    <input type="text" id="zip" name="zip" placeholder="10001">
                                </div>
                            </div>
                        </div>
                        <div>
                            <b style="padding-right:200px;padding-top:50px;">Scan here for payment</b><br />
                            <img src="~/Images/qr.png" width="250" height="250" />
                        </div>
                        <br /><br /><br /><br />
                       
                        

                    </div>

                    <!--   <div class="col-50">
                            <h3>Payment</h3>
                            <label for="fname">Accepted Cards</label>
                            <div class="icon-container">
                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                <i class="fa fa-cc-discover" style="color:orange;"></i>
                            </div>
                            <label for="cname">Name on Card</label>
                            <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                            <label for="ccnum">Credit card number</label>
                            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                            <label for="expmonth">Exp Month</label>
                            <input type="text" id="expmonth" name="expmonth" placeholder="September">
                            <div class="row">
                                <div class="col-50">
                                    <label for="expyear">Exp Year</label>
                                    <input type="text" id="expyear" name="expyear" placeholder="2018">
                                </div>
                                <div class="col-50">
                                    <label for="cvv">CVV</label>
                                    <input type="text" id="cvv" name="cvv" placeholder="352">
                                </div>
                            </div>
                        </div>

                    </div>-->

                   
                    <br />
                    <input type="submit" value="Continue to checkout" class="btn">
                </form>
            </div>
        </div>
    </div>
    @{
       
        <script>
            $("#CarDent").click(function () {
                var total = 0;
                if ($(this).is(':checked'))
                    total += 200;
                   
                else
                total = 0;

                document.getElementById("Total").innerHTML = total;
            });
        </script>

    }


</body>
</html>
