
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Services</title>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        a {
            text-align: center;
        }

        body {
            margin-left: 30px;
        }

        .desc {
            float: left;
        }

        li, p,h4 {
            font-size: 16px;
        }
        /*h3 {
            font-size: 24px;
        }*/
    </style>
</head>
<body>
    <h1 style="text-align:center"><b>Welcome to RN Automotive!</b></h1>


    <br />
    <p>

        RN AUTOMOTIVE is a multi – brand car service center with the facility of modern tools
        and equipment’s used to diagnoses fault, then our technical expertise who, undergone
        advanced trainings will repair and fix the trouble on your cars. Our unique abilities
        we can look after all makes of the vehicles. If you are looking for world-class service for your car,
        please head to our service center in Akshaynagar - Bangalore.
    </p>
    <h2 style="text-align:center"><b><u> SERVICES</u></b></h2>
    <br />
    <div class="row">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <img src="~/Images/rn-services-header2.jpg" width="350" />
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
            <img src="~/Images/rn-services-header3.jpg" width="350" />
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
            <img src="~/Images/rn-services-header5.jpg" width="350" />
        </div>


    </div>
    <br />

    <p>
        <h4>SERVICES OFFERED:</h4>
        <ul>

            <li>Engine Oil and Oil Filter Replacement</li>
            <li>Transmission Oil Replacement</li>
            <li>Differential Oil Replacement</li>
            <li>General check–up</li>
            <li>Electrical repairs</li>
            <li>A/C repairs</li>
            <li>Electronic components Diagnostic</li>
            <li>Running Repairs</li>
            <li>Preventive Maintenance</li>
            <li>Major Overhaul of components</li>
            <li>Wheel Alignment / Balancing</li>
            <li>Brake Drum Skimming</li>
            <li>Road test and assure Quality Passed</li>
            <li>Water servicing</li>
        </ul>
    </p>





    <p style="color:red;text-align:center">How can we help u?</p>
    <h2 style="text-align:center"><b><u> OUR SERVICES</u></b></h2>
    <div class="row">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <div class="card" style="width:350px; margin-left:5px;">
                <centre><img class="card-img-top" src="~/Images/spray-gun.png" alt="Card image" style="width:50px;"></centre>
                <div class="card-body">
                    <h5 class="card-title"><b>BODY & PAINTS</b></h5>
                    <p class="card-text">
                        From minor damage or large repairs, we inspect and repair your vehicles seamlessly.
                        Trust the body shop that makes it easy, affordable, reliable and quick service repair on your vehicle.
                    </p>
                    <a href="#bodyAndPaint" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
            <div class="card" style="width:350px; margin-left:5px;">
                <centre><img class="card-img-top" src="~/Images/refrigerator.png" alt="Card image" style="width:50px;"></centre>
                <div class="card-body">
                    <h5 class="card-title"><b>REFRIGERATED TRANSPORT VEHICLES</b></h5>
                    <p class="card-text">
                        Our specialties are for Small Vans, Trucks and Trailers Refrigeration plus we offer expertise with installation of Air-conditioning for Busses and Coaches.
                    </p>
                    <a href="#REFRIGERATED TRANSPORT VEHICLES" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="card" style="width:350px; margin-left:5px;">
            <centre><img class="card-img-top" src="~/Images/fabrication.jpg" alt="Card image" style="width:50px;"></centre>
            <div class="card-body">
                <h5 class="card-title"><b>FABRICATION & BODY CONVERSION</b></h5>
                <p class="card-text">
                    We committed to building quality van conversions. All our vehicles go through a rigorous
                    quality checking process before leaving our conversion center.
                </p>
                <a href="#FABRICATION & BODY CONVERSION" class="btn btn-primary">View More</a>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <div class="card" style="width:350px; margin-left:5px;">
                <centre><img class="card-img-top" src="~/Images/car accessiries.jpg" alt="Card image" style="width:50px;"></centre>
                <div class="card-body">
                    <h5 class="card-title"><b>4 X 4 ACCESSORIES</b></h5>
                    <p class="card-text">
                        Whether it be recreational, military or commercial use. We always assure best quality 4 X 4 accessories.
                        We always assure best quality 4 X 4 accessories.
                    </p>
                    <a href="#4 X 4 ACCESSORIES" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
            <div class="card" style="width:350px; margin-left:5px;">
                <centre><img class="card-img-top" src="~/Images/search.jpg" alt="Card image" style="width:50px;"></centre>
                <div class="card-body">
                    <h5 class="card-title"><b>DETAILING</b></h5>
                    <p class="card-text">
                        Our Auto detailing is the act of performing of through cleaning, restoration and finishing of a motor vehicle to produce a Show quality cleanliness and polish.
                    </p>
                    <a href="#Detailing" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="card" style="width:350px; margin-left:5px;">
            <centre><img class="card-img-top" src="~/Images/gift-box-with-a-bow.png" alt="Card image" style="width:50px;"></centre>
            <div class="card-body">
                <h5 class="card-title"><b>VINYL WRAP / FOILING</b></h5>
                <p class="card-text">
                    We use only Polymeric Premium Cast Film – Top of the line film, this stickers are specially made for car and Bikes wrapping.
                    These films are good in curved surfaces too.
                </p>
                <a href="#VINYL WRAP / FOILING" class="btn btn-primary">View More</a>
            </div>
        </div>
    </div>
    <hr />

    <p id="bodyAndPaint">
        <h3><b>BODY & PAINTS</b></h3>
        <br />
    <p style="font-size:20px;">
        In our unique facility, whether its minor damage or large repairs, we inspect and repair your vehicles seamlessly. Trust the body shop that makes it easy, affordable,
        reliable and quick service repair on your vehicle.
    </p>

    <img class="desc" src="~/Images/services-body-paints.jpg" style="width:350px;height:250px;margin-right: 30px;">
    <h4 style="text-align:center; font-size:20px;">SERVICES OFFERED:</h4>
    <ul style="font-size:20px;">


        <li>We repair car dents, dings and accidental damages to get back original shape of show-room condition</li>
        <li> Our trained painters are matching the color with more accuracy for refinishing work.</li>
        <li> Insurance Claims will be processed with all major Insurance companies.</li>
        <li> Direct Repair Program (DRP) also carried out.</li>
    </ul>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


    <p id="REFRIGERATED TRANSPORT VEHICLES">
        <h3><b>REFRIGERATED TRANSPORT VEHICLES</b></h3>
        <br />
    <p style="font-size:20px;">
        We are a progressive and professional organization providing premium quality products and services to the cold-chain & Refrigerated transport industry. Our specialties are for Small Vans, Trucks and Trailers Refrigeration plus we offer expertise with installation of Air-conditioning for Busses and Coaches.
        We endeavor to maintain strong partner by offering reliable expert technical advice with a focus on customer satisfaction. We provide Maintenance service facility at customer place also.
    </p>

    <img class="desc" src="~/Images/services-fb-dry-refrigerated-truck-van.jpg" style="width:350px;height:250px;margin-right: 50px;">

    <h4 style="text-align:center; font-size:20px;">FEATURES & ADVANTAGES:</h4>
    <ul style="font-size:20px;">

        <li>Complete mobile cold storage solution</li>
        <li>  Insulated cabins</li>
        <li> Thermal efficency and durablility</li>
        <li>Modern construction technology </li>
        <li>Custom made sizes and specification</li>
        <li>Rigid polyurthane panels</li>
        <li>Insulated cabins are fire retardant</li>
        <li>Aluminium Anodized Extruded profile</li>
    </ul>
    
    <br /><br /><br /><br /><br /><br />

    <p id="FABRICATION & BODY CONVERSION">
        <h3><b>FABRICATION & BODY CONVERSION</b></h3>
        <br />
    <p style="font-size:20px;">
        We committed to building quality van conversions. All our
        vehicles go through a rigorous quality checking process
        before leaving our conversion center. We ensure all our vehicle conversion meet the highest safety standards.
    </p>

    <img class="desc" src="~/Images/services-fb-restaurantonwheels.jpg" style="width:350px;height:250px;margin-right: 50px;">
    <h4 style="text-align:center; font-size:20px;">SERVICES OFFERED:</h4>
    <ul style="font-size:20px;">


        <li>
            We repair car dents, dings and accidental damages to get back
            original shape of show-room condition.
        </li>
        <li>
            Our trained painters are matching the color with
            more accuracy for refinishing work.
        </li>
        <li>
            Insurance Claims will be processed with all major
            Insurance companies.
        </li>
        <li>Direct Repair Program (DRP) also carried out.</li>
    </ul>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


    <p id="4 X 4 ACCESSORIES">
        <h3><b>4 X 4 ACCESSORIES</b></h3>
        <br />
    <p style="font-size:20px;">
        4x4 Accessories provide great value for money solutions for
        all sectors within 4 X 4 industry, with a versatile and forward
        thinking approach, whether it be recreational, military or commercial use.
        We always assure best quality 4X4 accessories.
    </p>

    <img class="desc" src="~/Images/services-4x4accessories.jpg" style="width:400px;margin-right: 50px;">
    <h4 style="text-align:center; font-size:20px;">
        Advantages of 4X4 Accessories:

    </h4>
    <ul style="font-size:20px;">


        <li>
            Stronger Suspension for ON-ROAD and OFF-ROAD purpose.
        </li>
        <li>
            Our trained painters are matching the color with
            more accuracy for refinishing work.
        </li>
        <li>
            Increases vehicle stability.
        </li>
        <li>Increases vehicle height for better ground clearance.</li>
        <li> Decreases the load on the Suspension Bushes and Suspension Arms.</li>
    </ul>
    <h4 style="text-align:center; font-size:20px;">
        Accessories List:

    </h4>
    <ul>
        <li>
            Springs
        </li>
        <li>
            Shock absorber (Nitrogen & Foam)
        </li>
        <li>
            Bull bars
        </li>
        <li>Suspension Kits</li>
        <li>Snorkels </li>
        <li>Winches</li>
        <li>Double Battery kit</li>
        <li>Canopies</li>

    </ul>

    <br /><br /><br /><br /><br />
    <p id="Detailing">
        <h3><b>DETAILING</b></h3>
        <br />
    <p style="font-size:20px;">
        Our Auto detailing is the act of performing of through cleaning, restoration and finishing of a motor vehicle to produce a Show quality cleanliness and polish.
        <br />
        <b> What is detailing?</b><br />
        The paint on your car is a very delicate thing and most reputable detailing services deal with three step process that cleans, corrects and protects the paint surface. Cleaning step consists of properly washing and drying the car to remove any dirt and grime.
        <br />
        <b>How often should I detail my car?</b><br />
        Most experts recommend a new detail every four to six months, which equates 2-3 times a year. However that’s just a thumb rule, and your detailing frequency should depend on both road and climatic condition. Obviously, the more often you have one done, the better condition your car will be?
        <br />
        <b>Why you should detail your car?</b> <br />
        Proper detailing improves and maintains the health of your car in much the same way as changing the oil and spark plugs. While detailing takes a bit of effort the benefits of reliability, safety and beauty are all worthwhile. Properly cleaning, polishing and waxing greatly extend the life of a cars paint.
    </p>

    <img class="desc" src="~/Images/services-detailing.jpg" style="width:350px;height:250px;margin-right: 50px;">
    <h4 style="text-align:center; font-size:20px;">Accessories List:</h4>
    <ul style="font-size:20px;">


        <li>Ceramic Coating</li>
        <li> Platinum Coating</li>
        <li>Interior Cleaning & Protection</li>
        <li> Head Light Restoration / Wind-Shield Protection</li>
        <li>Engine Bay Protection</li>
        <li> Under Body Coating</li>

    </ul>

    <br /><br /><br /><br /><br /><br />

    <p id="VINYL WRAP / FOILING">
        <h3><b>VINYL WRAP / FOILING</b></h3>

        <br />
        <img class="desc" src="~/Images/services-vinyl-wrap2.jpg" style="width:350px;height:250px;margin-right: 50px;">

    <p style="font-size:20px;">
        CAR AND BIKES CUSTOMIZED VINYL WRAPPING:
        We use only Polymeric Premium Cast Film – Top of the line film, this stickers are specially made for car and Bikes wrapping. These films are good in curved surfaces also,
        hence the life last for up to 4 years.
    </p>





</body>
</html>
